* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
/** Header **/

body{
    margin:0;
}

header{
    width: 100%;
    background-color: rgba(210, 0, 46, 1);
    position: fixed;
    top: 0;
}

.logo{
    width: auto;
    height: 65px;
    padding: 5px 40px;
    float: left;
}

.header-right{
    float: right;
    height: 65px;
    margin-right: 40px;
}

.header a.signup {
    background-color:rgba(255, 204, 1, 0.8);
    color:#D2002E;
  }

header a{
    float: left;
    text-align: center;
    line-height: 65px;
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: large;
    color: #FFCC01;
    padding: 0px 10px;
}

.header-right a:hover {
    background-color:rgba(255, 204, 1, 1);
    transition: all 0.2s;
    color:#D2002E;
}

/** Footer **/
 
footer{
    padding: 20px 20px;
    background-color: black;
}

.footer-top{
    margin: 0px 20px;
}

.footer-bottom p{
    color: rgba(192, 192, 192, 05);
    font-size: smaller;
    text-align: center;
    z-index: 10;
}

.section-item{
    float: left;
    width: 25%;
}

.section-title h3{
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 15px;
}

.btn-wrapper li{
    list-style: none;
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
    text-decoration: none;
    color: rgb(192, 192, 192);  

}

.btn-wrapper a:hover{
    font-weight: bolder;
}

.btn-wrapper a{
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
    text-decoration: none;
    color: rgb(192, 192, 192);
}

/* Main section */
main {
    padding-top: 10vh;
    height: 100vh;
}

main .container {
    display: flex;
}

/* Second main section */
