* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/** Header & Footer**/

body{
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100%;
    background-color: rgba(210, 0, 46, 1);
    position: fixed;
    top: 0;
}

.logo{
    width: auto;
    height: 65px;
    padding: 5px 40px;
    float: left;
}

.header-right{
    float: right;
    height: 65px;
    margin-right: 40px;
}

.header a.signup {
    background-color:rgba(255, 204, 1, 0.8);
    color:#D2002E;
  }

header a{
    float: left;
    text-align: center;
    line-height: 65px;
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: large;
    color: #FFCC01;
    padding: 0px 10px;
}

.header-right a:hover {
    background-color:rgba(255, 204, 1, 1);
    transition: all 0.2s;
    color:#D2002E;
}

/** Footer **/
 
footer{
    padding: 20px 20px;
    background-color: black;
}

.footer-top{
    margin: 0px 20px;
}

.footer-bottom p{
    color: rgba(192, 192, 192, 05);
    font-size: smaller;
    text-align: center;
    z-index: 10;
}

.section-item{
    float: left;
    width: 25%;
}

.section-title h3{
    color: white;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 15px;
}

.btn-wrapper li{
    list-style: none;
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
    text-decoration: none;
    color: rgb(192, 192, 192);  

}

.btn-wrapper a:hover{
    font-weight: bolder;
}

.btn-wrapper a{
    font-family: sans-serif;
    font-size: medium;
    font-style: italic;
    text-decoration: none;
    color: rgb(192, 192, 192);
}

/* Main section */
main {
    padding-top: 10vh;
    height: 100vh;
}

main .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 58px 101px;
}

.left-side {
    /* border: 1px solid red; */
    height: 75vh;
    width: 80vh;
}

.right-side {
    border: 1px solid red;
    height: 75vh;
    width: 50vh;
}

main .title {
    margin-top: 16px;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.5em;
}

.btn-info {
	background-color: #FFCC01;
	padding: 6px 16px;
	color: black;
	font-size: 14px;
	border-radius: 3px;
	margin-right: 4px;
}

.msg-info {
		color: #3C3B3B;
}

ul li {
	list-style: none;
}

.left-side .address{
    font-size: 16px;
    line-height: 1.3em;
    margin: 16px;
    color: #3C3B3B;
		text-decoration: none;
		margin-left: -.1em;
}

.map::before{
	content: "\2708";
}

.phone::before{
	content: "\260E";
}

.cta {
    margin-top: 36px;
}

.btn-primary {
    padding: 16px 34px;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* margin-right: 12px; */
    color: white;
    background-color: rgb(187, 17, 54);
		font-weight: 500;
		width: 10em;
}

.btn-primary:hover {
	font-weight: 600;
    box-shadow: 0 5px 10px rgba(189, 13, 13, 0.4);
}

.btn-view {
    padding: 16px 34px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 12px;
    background-color: white;
    border: none;
    color: #3C3B3B;
}

.btn-view span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.btn-view span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
  
.btn-view:hover span {
	padding-right: 25px;
}

.btn-view:hover span:after {
  opacity: 1;
  right: 0;
}
/* Second main section */

.pricelist{
  width:800px;
  margin:auto;
}
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.harga {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.harga:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.harga .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.harga li {
  border-bottom: 1px solid #eee;
  padding: 15px;
  text-align: center;
}

.harga .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
